.col-hacky {
    float:left;width:50%;
  }

.godspeed {
  font-weight: 700;
  font-size: 2em;
}

code {
  font-size: 24px;
}

.code-ex {
    font-family: 'Ubuntu Mono';
    color: #f92672;
}

.mono {
    font-family: 'Ubuntu Mono';
}

.emphasis {
    color: chartreuse;
    font-weight: 500;
}

.mjx-big {
    font-size: 2em !important;
}