
html {
  width: 100%;
  height: 100%;
}

header {
  padding-top: 100px;
}

footer {
  padding: 50px;
}

footer p {
  font-size: 14px;
  margin: 0;
}

.top-section {
  margin-top: 5em;
}

.content-section {
  padding: 25px;
}

.pad-content {
  padding: 1.1em;
}

/* .navbar-brand {
  padding-left: 5%;
} */

.navbar-toggler {
  margin-right: 5%;
}

.ml-auto {
  margin-right: 2%;
}

#mainNav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.form-iframe {
  margin-top: 3em;
}
